<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ticket_match.ticketmatch">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />



    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfileRatings"
            android:screenOrientation="portrait" />
        <activity android:name=".Message_Overview" />
        <activity android:name=".Message_Chat" />
        <activity android:name=".ForeignProfile" />
        <activity android:name=".ForeignProfileRating" />
        <activity android:name=".Offer_Overview" />
        <activity android:name=".NewOffer" />
        <activity android:name=".Offer_Detail" />
        <activity android:name=".Find" />
        <activity android:name=".Find_Vendor" />
        <activity android:name=".Message_Vendor" />
        <activity android:name=".MakeADate" />
        <activity android:name=".MakeADate_Detail" />
        <activity android:name=".Search_MakeADate" />
        <activity android:name=".New_MakeAdate" />
        <activity android:name=".MakeADate_SearchResults" />
        <activity android:name=".MakeADateResults_Message"></activity>
    </application>

</manifest>