<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ticket_match.ticketmatch">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TicketMatch"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfileRatings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Message_Overview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Message_Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ForeignProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForeignProfileRating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Offer_Overview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewOffer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Find"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeADate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search_MakeADate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_MakeAdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeADate_SearchResults"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityTabHost"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".Ticket_Search" />

        <service
            android:name=".MessageNotifications"
            android:exported="false"></service>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

            android:exported="false" />

        <activity android:name=".EditMyProfile"></activity>
    </application>

</manifest>